MAAYA_ENVIRONMENT=development
MAAYA_LOG_LEVEL=INFO
MAAYA_ENVIRONMENT=development
MAAYA_LOG_LEVEL=INFO

MAAYA_DB_USER=maaya_db_user
MAAYA_DB_PASSWORD=change_me_for_local_development
MAAYA_DB_NAME=maaya_database